<b:widget id='Label1' locked='false' title='Labels' type='Label' visible='true'>
  <b:widget-settings>
    <b:widget-setting name='sorting'>ALPHA</b:widget-setting>
    <b:widget-setting name='display'>LIST</b:widget-setting>
    <b:widget-setting name='selectedLabelsList'/>
    <!--<b:widget-setting name='showType'>ALL</b:widget-setting>-->
    <b:widget-setting name='showFreqNumbers'>true</b:widget-setting>
  </b:widget-settings>
  <b:includable id='main' var='this'>
    <b:include name='custom-style'/>
    <b:include name='widget-title'/>
    <b:include name='content'/>
  </b:includable>
  <b:includable id='custom-style'>
    <style>
      #dev-label-section span.label-count:before {
        content: '(';
      }
      #dev-label-section span.label-count:after {
        content: ')';
      }
      #dev-label-section ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      #dev-label-section a.label-name {
        display: inline-block;
        padding: 8px;
      }
    </style>
  </b:includable>
  <b:includable id='content'>
    <div class='widget-content'>
      <b:class expr:name='data:this.display + &quot;-label-widget-content&quot;'/>
      <b:include cond='data:this.display == &quot;list&quot;' name='list'/>
      <b:include cond='data:this.display == &quot;cloud&quot;' name='cloud'/>
    </div>
  </b:includable>
  <b:includable id='cloud'>
    <b:loop values='data:labels where (l => l.name not in data:global.hiddenLabels)' var='label'>
      <span class='label-size'>
        <b:class expr:name='&quot;label-size-&quot; + data:label.cssSize'/>
        <a class='label-name' expr:href='data:label.url'>
          <data:label.name/>
          <b:if cond='data:this.showFreqNumbers'>
            <span class='label-count'><data:label.count/></span>
          </b:if>
        </a>
      </span>
    </b:loop>
  </b:includable>
  <b:includable id='list'>
    <ul>
      <b:loop values='data:labels where (l => l.name not in data:global.hiddenLabels)' var='label'>
        <li>
          <a class='label-name' expr:href='data:label.url'>
            <data:label.name/>
            <b:if cond='data:this.showFreqNumbers'>
              <span class='label-count'><data:label.count/></span>
            </b:if>
          </a>
        </li>
      </b:loop>
    </ul>
  </b:includable>
</b:widget>