<style>
  .bottom-nav-link {
    text-decoration: none;
    align-items: center;
    padding: 14px 24px;
    font-size: 32px!important;
  }
  .bottom-nav-link:hover {
    cursor: pointer;
    color: #2196f3;
  }
  .--dark .bottom-nav-link {
    color: #dddddd;
  }
  .--dark .bottom-nav-link:hover {
    color: #e9e51e;
  }
</style>
[ .d-flex .justify-content-center .text-decoration-none {mt:3rem}
  <b:if cond='data:newerPageUrl'>
    <b:if cond='data:newerPageUrl != ""'>
      <a class='bottom-nav-link material-icons' expr:href='data:newerPageUrl'>
        arrow_back
      </a>
    </b:if>
  </b:if>
  
  <a class="bottom-nav-link material-icons" expr:href='data:blog.canonicalHomepageUrl'>
    home
  </a>
  
  <b:if cond='data:olderPageUrl'>
    <a class='bottom-nav-link material-icons' expr:href='data:olderPageUrl'>
      arrow_forward
    </a>
  </b:if>
]