<b:defaultmarkups><b:defaultmarkup type="Image">

  <!-- main -->
  <b:includable id="main" var="this">  
  
    <b:tag cond='data:link' expr:href='data:link' name='a' expr:title="data:caption">
      <img expr:alt='data:caption' expr:height='data:height' expr:id='data:widget.instanceId + &quot;_img&quot;' expr:src='data:sourceUrl' expr:width='data:width'>
        <b:attr cond='data:sourceSet' expr:value='data:sourceSet' name='srcset'/>
      </img>
    </b:tag>
  
  </b:includable>
  
</b:defaultmarkup></b:defaultmarkups>